<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Group Manager</title>
        <link
            href="{{ url_for('static', filename='css/out.css') }}"
            rel="stylesheet"
        />
        <script
            type="module"
            src="{{ url_for('static', filename='js/group/main.js') }}"
        ></script>
    </head>
    <body>
        <div id="group-management"></div>
    </body>
</html>
