<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Calendar Configuration</title>
        <link
            href="{{ url_for('static', filename='css/out.css') }}"
            rel="stylesheet"
        />
        <script
            type="module"
            src="{{ url_for('static', filename='js/pilote/main.js') }}"
        ></script>
    </head>
    <body class="bg-gray-200 min-h-screen py-8"></body>
</html>
