node_modules
node_modules/**
**/__pycache__
**/__pycache__/**
key
pyrightconfig.json
**/package.json
**/package-lock.json
**/postcss.config.js
**/tailwind.config.js
**/_cache
web/template/index.html
web/static/js/sectioning_old/**
web/static/js/sectioning_old/
data/**
**/data
**/prompt_guidelines.md
counter.py
test.py
**/old_**
web/stats.json
web/stats_human_readable.txt
**/tmp/**
**/featuremodel/formatModelFeature_*
